# Имя workflow в интерфейсе GitHub Actions
name: API tests

# Когда будет запускаться данный workflow
on:
  push:
    branches:
      - main  # Запускать workflow, когда будет сделан коммит в ветку main
  pull_request:
    branches:
      - main  # Запускать workflow, когда будет сделан pull request в ветку main

jobs:
  # Шаги, которые должны быть выполнены в рамках работы с тестами
  run-tests:
    runs-on: ubuntu-latest  # тесты будут запускаться на последней версии Ubuntu

    steps:
      # Шаг, который будет клонировать репозиторий на машину GitHub Actions
      - name: Check out repository
        uses: actions/checkout@v6  # используется GitHub Action для клонирования репозитория

      # Шаг для установки Python на виртуальной машине
      - name: Set up Python
        uses: actions/setup-python@v6 # Используем GitHub Action для установки Python
        with:
          python-version: '3.13' # устанавливается версию Python 3.13

      # Шаг для клонирования репозитория с тестовым сервером в рабочую среду
      - name: Clone test server repository
        run: git clone https://github.com/Nikita-Filonov/qa-automation-engineer-api-course.git

      # Шаг для установки зависимостей для тестового сервера
      - name: Install test server dependencies
        run: pip install -r qa-automation-engineer-api-course/requirements.txt

      # Шаг для запуска тестового сервера с необходимыми переменными окружения
      - name: Start a test server
        env:
          APP_HOST: "http://localhost:8000"  # адрес хоста сервера
          DATABASE_URL: "sqlite+aiosqlite:///./local.db" # URL локальной базы данных
          JWT_ALGORITHM: "HS256" # алгоритм для JWT токенов
          JWT_SECRET_KEY: "qa-automation-engineer-api-course-secret-key" # секретный ключ для JWT
          JWT_ACCESS_TOKEN_EXPIRE: 1800 # время жизни access token (в секундах)
          JWT_REFRESH_TOKEN_EXPIRE: 5184000 # время жизни refresh token (в секундах)
        run: uvicorn main:app --host 0.0.0.0 --port 8000 --app-dir ./qa-automation-engineer-api-course & # запуск сервера с указанными переменными окружения

      # Шаг для установки всех зависимостей проекта
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip  
          pip install -r requirements.txt

      # Шаг для запуска тестов с использованием pytest и генерации отчётов Allure
      - name: Run API tests with pytest and generate Allure results
        run: |
          pytest -m regression --alluredir=allure-results --numprocesses=3

      # Шаг для восстановления истории покрытия из кеша
      - name: Restore Coverage history
        uses: actions/cache/restore@v5
        with:
          path: coverage-history.json
          key: coverage-history-${{ github.run_id }}
          restore-keys: |
            coverage-history-

      # Шаг для генерации HTML-отчета и обновления истории покрытия
      - name: Generate coverage report
        run: |
          swagger-coverage-tool save-report

      # Шаг для сохранения истории покрытия в кеш
      - name: Cache Coverage  history
        if: always()
        uses: actions/cache/save@v5
        with:
          path: coverage-history.json
          key: coverage-history-${{ github.run_id }}

      # Шаг для публикации HTML-отчет покрытия как артефакта
      - name: Upload coverage results
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: coverage-report
          path: swagger-coverage.html

      # Шаг для публикации результатов Allure как артефакта
      - name: Upload Allure results
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: allure-results
          path: allure-results

 # Шаги, которые должны быть выполнены в рамках работы с отчетом
  publish-report:
    if: always()
    needs: [ run-tests ] # запускается после выполнения run-tests
    runs-on: ubuntu-latest

    steps:
      # Шаг для проверки репозитория
      - name: Check out repository
        uses: actions/checkout@v6  # клонирование репозиторий, чтобы получить историю отчётов
        if: always()  # всегда выполняется, независимо от успеха или неудачи предыдущих шагов
        with:
          ref: gh-pages  # ветка gh-pages для получения отчётов
          path: gh-pages  # путь для сохранения отчётов

      # Шаг для загрузки результатов Allure
      - name: Download Allure results
        uses: actions/download-artifact@v7
        with:
          name: allure-results
          path: allure-results

      # Шаг для генерации и отображения отчёта Allure
      - name: Generates Allure Report with history
        uses: simple-elf/allure-report-action@v1.13  # готовое решение из GitHub Marketplace для генерации Allure отчёта
        if: always()  # Этот шаг тоже всегда выполняется
        with:
          allure_results: allure-results  # каталог с результатами тестов
          allure_history: allure-history  # каталог для истории отчётов Allure

      # Шаг для деплоя отчёта Allure на GitHub Pages, чтобы его можно было просматривать в браузере
      - name: Deploy report to Github Pages
        if: always()  # выполняется всегда, независимо от успеха других шагов
        uses: peaceiris/actions-gh-pages@v4  # используется GitHub Action для публикации отчёта на GitHub Pages
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}  # Токен для аутентификации на GitHub
          publish_branch: gh-pages  # отчёт будет опубликован в ветке gh-pages
          publish_dir: allure-history  # папка, которая будет опубликована на GitHub Pages